# example of file for storing private and user specific environment variables, like keys or system paths
# rename it to ".env" (excluded from version control by default)
# NOTE: paths are handled dynamically using pyrootutils
WANDB_ENTITY=""
WANDB_PROJECT=""
WANDB_API_KEY=""
WANDB_ARTIFACT_DIR=
